.host {
  inline-size: 100%;
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
  background-color: var(--vkui--color_background_modal);

  /* см. `.children {}` в `ModalPage` */
  flex: 0 0 auto;
}

.inner {
  padding-block: 16px;
  padding-inline: 24px;
}
